.detail {
  line-height: 1.67;
}
.detail .hd {
  height: 30px;
  background: #698496;
}
.detail .hd .close {
  float: right;
  width: 18px;
  height: 18px;
  _display: inline;
  margin: 5px 10px  0  0;
  cursor: pointer;
  background: url(http://gtms01.alicdn.com/tps/i1/T1HZ8xFBlkXXceZl..-10-9.png) no-repeat center center;
}
.detail .hd .close:hover {
  background-color: #546a78;
}
.detail .bd {
  text-align: center;
  padding: 10px 60px 25px;
  border: 1px solid #e4eaed;
  border-top: none;
  background: #f5f5f5;
}
.detail .bd .content {
  border: 1px solid #e4eaed;
  border-width: 1px 0;
  padding: 15px 0;
  margin: 15px 0;
}
.detail .bd .title {
  color: #13334d;
  font-size: 18px;
  font-weight: bold;
  line-height: 42px;
}
.detail .bd .title .field {
  padding: 0 10px;
}
.detail .bd .item {
  zoom: 1;
  vertical-align: top;
  text-align: right;
  line-height: 2;
}
.detail .bd .item h2 {
  font-size: 25px;
  line-height: 1;
  font-family: "Microsoft Yahei", "simhei";
}
.detail .bd .item .line {
  width: 100px;
  margin: 5px 0;
  height: 1px;
  overflow: hidden;
  background: #e4eaed;
}
.detail .bd .right {
  text-align: left;
}
.detail .bd .middle {
  text-align: center;
  padding: 0 40px;
  overflow: hidden;
}
.detail .bd .middle .sign {
  width: 90px;
  margin: 3px auto 5px;
  background: #34a3ec;
  padding: 1px;
  border-radius: 5px;
}
.detail .bd .middle .sign .status {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  font-weight: bold;
}
.detail .bd .middle .sign .statistics {
  background: #fff;
  line-height: 24px;
  border-radius: 3px;
}
.detail .bd .middle .arrow {
  display: block;
  width: 90px;
  height: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  background: url(http://gtms01.alicdn.com/tps/i1/T1diJyFu4kXXbhIZnX-18-6.png) no-repeat center 0;
}
.detail .bd .middle .distance,
.detail .bd .middle .duration {
  color: #999999;
}
.detail .bd .middle .delay {
  background-color: #ff5247;
}
.detail .bd .middle .arrival {
  background-color: #40d0a9;
}
.detail .bd .middle .launch {
  background-color: #34a3ec;
}
.detail .bd .middle .planned {
  background-color: #34a3ec;
}
.detail .bd .middle .predrop {
  background-color: #9181c8;
}
.detail .bd .middle .cancel {
  background-color: #999999;
}
.detail .bd .middle .return {
  background-color: #9181c8;
}
.detail .bd .remark {
  color: #999999;
}
.detail .bd .tab-nav {
  margin-top: 15px;
  text-align: center;
}
.detail .bd .tab-nav .tab-nav-item {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #cccccc;
  border-radius: 8px;
  margin: 0 5px;
  cursor: pointer;
}
.detail .bd .tab-nav .selected {
  background: #f60;
}
.detail .bd .tab-content {
  overflow: hidden;
  zoom: 1;
}
